In [1]:
import sys
sys.path.append('..')
from loci.set_evolution import Change_Detector
import pandas as pd

# Loading data

In [2]:
df = pd.read_csv('../datasets/evolving_sets/data/data.csv', header=None, names=['SnapshotID', 'GroupID', 'MemberID'])
df.head(10)

   SnapshotID  GroupID  MemberID
0           0       10         0
1           0        4         1
2           0        7         2
3           0        2         3
4           0       10         4
5           0        2         5
6           0        1         6
7           0        6         7
8           0       13         8
9           0        9         9

In [3]:
df = df.T.reset_index(drop=True).T # column names should be 0, 1, 2
cd = Change_Detector()
cd.set_data(df, 'csv', False)

# Snapshots

## Snapshot Evolution

To calculate the evolution of a snapshot:

In [4]:
cd.get_snapshot_evolution()

[('0', '1', 0.05598146363070377),
 ('1', '2', 0.07940150719106773),
 ('2', '3', 0.08074803457462712),
 ('3', '4', 0.08322875895770858),
 ('4', '5', 0.0749175933031092),
 ('5', '6', 0.08433250181057377),
 ('6', '7', 0.05893585116127085),
 ('7', '8', 0.06887963211408361),
 ('8', '9', 0.06669142567217919)]

## Snapshot Similarity

To calculate the similarity between two snapshots:

In [5]:
snap1, snap2 = ('0', '1')
cd.get_snapshot_similarity(snap1, snap2, True)

(0.05598146363070377,
 [('1', '6', 0.125),
  ('4', '4', 0.14285714285714285),
  ('12', '1', 0.13333333333333333),
  ('2', '2', 0.125),
  ('9', '5', 0.17647058823529413),
  ('7', '3', 0.125),
  ('0', '8', 0.125),
  ('3', '0', 0.1111111111111111),
  ('8', '7', 0.09090909090909091),
  ('6', '9', 0.11764705882352941)])

# Group

## Group Evolution

To calculate the evolution of a group:

In [6]:
snap1, group1, snap2 = '0', '0', '1'
cd.get_group_evolution(snap1, group1, snap2)

(2, [('4', 0.25), ('1', 0.25), ('6', 0.25), ('8', 0.25)])

## Group Provenance

To calculate the provenance of a group:

In [7]:
snap1, group1, snap2 = '1', '0', '0'
cd.get_group_provenance(snap1, group1, snap2)

(2,
 [('6', 0.21428571428571427),
  ('3', 0.14285714285714285),
  ('10', 0.14285714285714285),
  ('13', 0.14285714285714285),
  ('5', 0.07142857142857142),
  ('8', 0.07142857142857142),
  ('7', 0.07142857142857142),
  ('2', 0.07142857142857142),
  ('4', 0.07142857142857142)])

## Group Similarity

To calculate the jaccard similarity of two groups:

In [8]:
snap1, group1, snap2, group2 = '0', '0', '1', '1'
cd.get_group_similarity(snap1, group1, snap2, group2)

0.10526315789473684

# Member

## Member Evolution

To calculate the evolution of a member:

In [9]:
cd.get_member_evolution('0')

[('0', '1', 0.1111111111111111),
 ('1', '2', 0.09523809523809523),
 ('2', '3', 0.0625),
 ('3', '4', 0.058823529411764705),
 ('4', '5', 0.1),
 ('5', '6', 0.07142857142857142),
 ('6', '7', 0.1),
 ('7', '8', 0.13333333333333333),
 ('8', '9', 0.23529411764705882)]

## Member Rules

To calculate rules from frequent subgroups mining:

In [10]:
df = cd.get_member_rules('0')
df.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(0),(68),1.0,1.0,1.0,1.0,1.0,0.0,inf
2,(0),(72),1.0,1.0,1.0,1.0,1.0,0.0,inf
4,(0),(48),1.0,1.0,1.0,1.0,1.0,0.0,inf
7,(0),(60),1.0,1.0,1.0,1.0,1.0,0.0,inf
9,(0),(32),1.0,1.0,1.0,1.0,1.0,0.0,inf